# --- Python / Django ---
*.pyc
__pycache__/
env/
venv/
*.sqlite3
*.log
*.pot
*.py[cod]
*.pyo
*.pyd
db.sqlite3
.env

# --- Node / React ---
node_modules/
build/
.env.local
.env.development
.env.production
npm-debug.log*

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/
*.swp

