@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* Global styles (background, fonts, general spacing) */

body {
  margin: 0;
  font-family: "Fredoka One", cursive !important;
  background: linear-gradient(
    135deg,
    var(--secondary-green) 0%,
    var(--accent-yellow) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: var(--primary-blue);
  text-align: center;
}

p,
label,
button {
  font-family: "Fredoka One", cursive !important;
}

:root {
  --primary-blue: #1980e1;
  --secondary-green: #85ffbd;
  --accent-yellow: #fffb7d;
  --card-bg: #c9f6fa !important; /* Light green background */
}
